body{
    height: 100%;
    overflow: hidden;
}
#music {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 1000;
    display: none;
}
#yearOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    >p{
        font-size: 0.26rem;
        color: #1b1d20;
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 16.2%;
    }
    .setImg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        opacity: 0;
//      display: none;
    }
}
.hitRed{
    width: 30%;
    position: absolute;
    top: 15.58%;
    right: 5%;
    z-index: 10;
    animation: aniLoad03 6s linear infinite;
        -moz-animation: aniLoad03 6s linear infinite;
        -webkit-animation: aniLoad03 6s linear infinite;
        -ms-animation: aniLoad03 6s linear infinite;
        a{
            width: 100%;
            display: block;
            img{
                width: 100%;
            }
        }
    
    .close{
        width: 20%;
        position: absolute;
        right: 0%;
        top: -10%;
    }
}
@keyframes aniLoad03
{
    0%{ right: 5%;transform: rotate(0deg);}
    18%{ right: 7%;transform: rotate(8deg);}
    34%{ right: 9%;transform: rotate(0deg);}
    50%{ right: 11%;transform: rotate(8deg);}
    66%{ right: 9%;transform: rotate(0deg);}
    82%{ right: 7%;transform: rotate(8deg);}
    100%{ right: 5%;transform: rotate(0deg);}
}

@-moz-keyframes aniLoad03
{
    0%{ right: 5%;transform: rotate(0deg);}
    18%{ right: 7%;transform: rotate(8deg);}
    34%{ right: 9%;transform: rotate(0deg);}
    50%{ right: 11%;transform: rotate(8deg);}
    66%{ right: 9%;transform: rotate(0deg);}
    82%{ right: 7%;transform: rotate(8deg);}
    100%{ right: 5%;transform: rotate(0deg);}
}
@-webkit-keyframes aniLoad03 
{
    0%{ right: 5%;transform: rotate(0deg);}
    18%{ right: 7%;transform: rotate(8deg);}
    34%{ right: 9%;transform: rotate(0deg);}
    50%{ right: 11%;transform: rotate(8deg);}
    66%{ right: 9%;transform: rotate(0deg);}
    82%{ right: 7%;transform: rotate(8deg);}
    100%{ right: 5%;transform: rotate(0deg);}
}
@-ms-keyframes aniLoad03
{
    0%{ right: 5%;transform: rotate(0deg);}
    18%{ right: 7%;transform: rotate(8deg);}
    34%{ right: 9%;transform: rotate(0deg);}
    50%{ right: 11%;transform: rotate(8deg);}
    66%{ right: 9%;transform: rotate(0deg);}
    82%{ right: 7%;transform: rotate(8deg);}
    100%{ right: 5%;transform: rotate(0deg);}
}
#year{
    width: 100%;
    height: 100%;
    >img{
        width: 100%;
        height: 100%;
    }
}
.yearBox{
    position: absolute;
    width: 88%;
    height: 8.37%;
    left: 6%;
    bottom: 3.48%;
    z-index: 11;
    .ybl{
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: auto;
            height: 100%;
        }
    }
    .ybm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        height: 100%;
        margin-left: 0.1rem;
        font-size: 0.26rem;
        color: white;
        line-height: 0.34rem;
        span{
            padding-left: 0.11rem;
            background: url(../img/fk.png) no-repeat left center;
            background-size: 0.1rem 0.1rem;
            display: inline-block;
        }
        p:nth-child(2){
            font-size: 0.22rem;
        }
    }
    .ybr{
        height: 100%;
        img{
            height: 100%;
        }
    }
}
.word{
    display: none;
}
#label{
//  display: none;
    position: fixed;
    left: 50%;
    margin-left: -0.4rem;
    bottom: 0;
    width: 0.8rem;
    opacity: 0;
    z-index: 10000;
     transition: transform 1.6s,bottom 1.6s;
    -moz-transition: transform 1.6s,bottom 1.6s;
    -ms-transition: transform 1.6s,bottom 1.6s;
    -webkit-transition: transform 1.6s,bottom 1.6s;
    .label{
        width: 100%;
        height: 100%;
        transition: transform 1.6s,bottom 1.6s;
        -moz-transition: transform 1.6s,bottom 1.6s;
        -ms-transition: transform 1.6s,bottom 1.6s;
        -webkit-transition: transform 1.6s,bottom 1.6s;
        }
    img{
        width: 100%;
    }
    .labelBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0.32rem;
        color: #bf3e28;
        line-height: 0.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
    }
}
.labelrotate{
    bottom: 0!important;
    transform: rotateY(2160deg);
    -webkit-transform: rotateY(2160deg);
    -ms-transform: rotateY(2160deg);
    -moz-transform: rotateY(2160deg);
}
#danmu{
    position: fixed;
    height: 0.6rem;
    width: 100%;
    bottom: 2%;
//  background-color: red;
    z-index: 5;
    .danmu{
        margin-right: 30px;
        border-radius: 0.3rem;
        background-color: rgba(0,0,0,0.5);
        line-height:0.6rem ;
        font-size: 0.26rem;
        color: white;      
        position: relative;
        p{
           padding: 0 0.3rem 0 0.9rem; 
        }
        .head{
            position: absolute;
            top: -0.1rem;
            left: 0;
            height: 0.7rem;
            width: 0.7rem;
            border-radius: 50%;
            border:0.05rem solid white;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}
.ab{
    position: absolute;
    top: 0;
    left: 0;
}
